# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# clerk configuration (can include secrets)
/.clerk/

#ignore the pythion env file and the python venv
.env
/venv/
# Python dependency and build files

Pipfile
Pipfile.lock
poetry.lock
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
python_server/venv
